<!DOCTYPE html>
<html>

<head>
  <title>Wedding Planner</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<header>
      <div class="navbar navbar-light" style="background-color: rgb(117, 79, 79)">
        <a href="/" class="brand-logo left">Home</a>
        <a href="/guests" class="brand-logo center">lists</a>
        <a href="/guests/new">Guests Names</a>
        <a href="/weddings/new" class="brand-logo center">Add Weddings</a>
        <ul class="right">
          <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
          </li>
        </ul>
      </div>
</header>
<br>
<body>
    <p class="page">Welcome To My <%= title %> Page</p>
</body>
</html>