body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.names {
  font-size: 20px;
  color: black;
}

.page {
  font-size: 30px;
  color: rgb(126, 58, 58);
  padding: 130px;

}

.body {
  background-image: url(https://i.imgur.com/lkKoZ5s.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    width: none;
}
