<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Google Icon Fonts used by Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS Framework -->
        <link rel="stylesheet" href="stylesheets/style.css" />
        <!-- JavaScript for Materialize -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Wedding Planner</title>
</head>
<body style="background-image: url(https://i.imgur.com/lkKoZ5s.png);">
    <header>
        <div class="navbar navbar-light" style="background-color: rgb(117, 79, 79)">
            <a href="/" class="brand-logo left">Home</a>
            <a href="/guests" class="brand-logo center">lists</a>
            <a href="/guests/new">Guests Names</a>
            <a href="/weddings/new" class="brand-logo center">Add Wedding</a>
        </div>
    </header>
    <br>
    <h2>Add Wedding Functions</h2>
    <br><br>
   
    <form id="add-wedding-form" action="/guests" method="POST">
        <label>Weddings:
            <select name="weddings">
                <option value="sangeet">Sangeet Ceremony</option>
                <option value="nikkah">Nikkah</option>
                <option value="reception">Reception</option>
            </select>
        </label>
            <br><br>
        <label>
            <button type="submit" value="Add Weddings" id="add-weddings">Add weddings</button>
        </label>
            </form>
</body>
</html>