<!DOCTYPE html>
<html>
<head>
        <title>Wedding Planner</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Google Icon Fonts used by Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS Framework -->
        <link rel="stylesheet" href="stylesheets/style.css" />
        <!-- JavaScript for Materialize -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      </head>

<header>
        <div class="navbar navbar-light" style="background-color: rgb(117, 79, 79)">
          <a href="/" class="brand-logo left">Home</a>
          <a href="/users" class="brand-logo center">lists</a>
          <a href="/users/new">Guests Names</a>
          <a href="/foods/new" class="brand-logo center">Foods-list</a>
          
        </div>
  </header>
  <br>
<body class="body" style="background-image: url(https://i.imgur.com/lkKoZ5s.png);">
    <br>
    <form action="/users" method="POST">
        <label class="names">Names:
            <input type="text" name="names">
        </label>
        <br><br>
        <label class="names">Phone No:
            <input type="text" name="number">
        </label>
        <br><br>
        <button type="submit" value="Add Names" id="add-names">Add Guests</button>
      
</body>
</html>