<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Wedding Planner</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Google Icon Fonts used by Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Materialize CSS Framework -->
        <link rel="stylesheet" href="stylesheets/style.css" />
        <!-- JavaScript for Materialize -->
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
        
<body class="body">
    <header>
        <div class="navbar navbar-light" style="background-color: rgb(117, 79, 79)">
        <a href="/" class="brand-logo left">Home</a>
        <a href="/guests" class="brand-logo center">lists</a>
        <a href="/guests/new">Guests Names</a>
        
    </header>
    <br>
    <h2>Names</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Names</th>
                <th>Phone Number</th>
                <th>Wedding</th>
                
                <th>Add Weddings</th>
    
            </tr>
        </thead>
        <tbody>
            <% user.guests.forEach(function(n, idx) { %>
                <% if(n == undefined) { return; }; %>
                    <tr>
                        <form action="/guests/<%= n._id %>?_method=DELETE" method="POST" class="delete-form">
                            <th><button type="submit">X</button></th>
                        
                        <th><%= n.names %></th>
                        <th><%= n.phoneNo %></th>
                        <th><%= n.weddings %></th>
                        <th><a href="/weddings/new">Add Weddings</a></th>
                    </form>
                    </tr>

            <% }); %>

        </tbody>

    </table>
</body>
</html>
